In [1]:
import pandas as pd
import numpy as np

In [2]:
df_doc = pd.read_csv("../data/DoctorsET_data.csv")
df_che = pd.read_csv("../data/CheMed123_data.csv")
df_eah = pd.read_csv("../data/EAHCI_data.csv")
df_lob = pd.read_csv("../data/lobelia4cosmetics_data.csv")
df_yet = pd.read_csv("../data/yetenaweg_data.csv")

In [6]:
df = df_image = pd.concat([df_doc, df_che, df_eah, df_lob, df_yet])

In [9]:
df.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Doctors Ethiopia,@DoctorsET,864,https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...,2023-12-18 17:04:02+00:00,photos\@DoctorsET_864.jpg
1,Doctors Ethiopia,@DoctorsET,863,ዶክተርስ ኢትዮጵያ በ አዲስ አቀራረብ በ ቴሌቪዥን ፕሮግራሙን ለመጀመር ከ...,2023-11-03 16:14:39+00:00,photos\@DoctorsET_863.jpg
2,Doctors Ethiopia,@DoctorsET,862,ሞት በስኳር \n\nለልጆቻችን የምናሲዘው ምሳቃ ሳናቀው እድሚያቸውን ይቀን...,2023-10-02 16:37:39+00:00,photos\@DoctorsET_862.jpg
3,Doctors Ethiopia,@DoctorsET,861,ከ HIV የተፈወሰ ሰው አጋጥሟችሁ ያቃል ? ፈውስ እና ህክምና ?\n\nሙ...,2023-09-16 07:54:32+00:00,photos\@DoctorsET_861.jpg
4,Doctors Ethiopia,@DoctorsET,860,በቅርብ ጊዜ በሃገራችን ላይ እየተስተዋለ ያለ የተመሳሳይ ፆታ ( Homos...,2023-09-01 16:16:15+00:00,photos\@DoctorsET_860.jpg

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121 entries, 0 to 19
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     121 non-null    object
 1   Channel Username  121 non-null    object
 2   ID                121 non-null    object
 3   Message           91 non-null     object
 4   Date              121 non-null    object
 5   Media Path        113 non-null    object
dtypes: object(6)
memory usage: 6.6+ KB

In [11]:

# Remove duplicates
df.drop_duplicates(inplace=True)

In [12]:

print("\nMissing values in DataFrame:")
print(df.isnull().sum())

Missing values in DataFrame:
Channel Title        0
Channel Username     0
ID                   0
Message             24
Date                 0
Media Path           8
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
print("\nMissing values in DataFrame:")
print(df.isnull().sum())

Missing values in DataFrame:
Channel Title       0
Channel Username    0
ID                  0
Message             0
Date                0
Media Path          0
dtype: int64

In [16]:
df.describe()

,Channel Title,Channel Username,ID,Message,Date,Media Path
count,75,75,75,75,75,75
unique,6,6,75,72,58,75
top,CheMed,@CheMed123,864,Nature's Bounty Supplement Products are here!\...,2024-10-12 07:39:30+00:00,photos\@DoctorsET_864.jpg
freq,19,19,1,2,12,1

In [18]:
df.to_csv("../data/data.csv", index=False)